<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="default-page">
    <div class="container">
        <h1><%= title %></h1>
        <p><%= desc %></p>
    </div>   
  </body>
</html>
