<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="default-page">
    <div class="container">
        <h1><%= title %></h1>
        <p><%= description %></p>
        <!-- Button -->
        <div class="col-sm-12 controls">
          <input class="btn btn-success green" onClick="open(location, '_self').close();"  type="submit" value=<%= successButtonText %> >
      </div> 
    </div>   
  </body>
</html>
