<!DOCTYPE html>
<html>
  <head>
    <title><%= message %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    function goBack() {
        window.history.go(-2);
    }
    </script>
  </head>
  <body class="default-page">
    <div class="container">
        <h1><%= message %></h1>  
        <div class="col-sm-12 controls">
            <input class="btn red" onClick="goBack()"  type="submit" value=<%= backButtonText %> >
        </div>    
    </div>   
  </body>
</html>
