<!DOCTYPE html>
<html>
  <head>
    <title>Error Found</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body class="default-page">
    <div class="container">
        <h1><%= message %></h1>     
    </div>   
  </body>
</html>
